home/*

lost+found/

# Log files
logs/
*/logs/*
*/log/*
*log

# Files that are symlinks
APAgent/APOpen.sh
APAgent/conf/IAConfig.xml
conf/config.php
snmp/conf/config.php

# Files that change regularly
APAgent/lib/mule-1.4.3/bin/.apia.pid
APAgent/.activemq-data/*
xMatters/integrationagent-5.0.7/lib/mule-1.4.3/bin/.apia.pid
xMatters/integrationagent-5.0.7/.activemq-data/*
*.swp
elerts/pending/*
elerts/emails/*
anp/scMonitor/current_ticket.txt
